/* Main Variables */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    overscroll-behavior-y: none;
}

:root {
    --main-dark: black;
    --main-light: white;
  }

  h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 7em;
    line-height: 0.8;
    font-weight: 700;
  }
  
  h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 2.5em;
    line-height: 1.4;
    font-weight: 700;
  }
  
  h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 2.19em;
    line-height: 1.4;
    font-weight: 700;
  }
  
  h4 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.88em;
    line-height: 1.4;
    font-weight: 700;
  }
  
  h5 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.67em;
    line-height: 1.4;
    font-weight: 700;
  }
  
  h6 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.46em;
    line-height: 1.4;
    font-weight: 700;
  }
  
  p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 0.8rem;
    line-height: 1.4;
  }
  
  a {
    font-size: 1em;
    text-decoration: none;
  }
  
  label {
    display: block;
    margin-bottom: 0.3em;
    font-size: 1.25em;
    font-weight: 700;
  }
  
  blockquote {
    margin-bottom: 1em;
    padding: 1em 2em 1em 1.7em;
    border-left: 0.3em solid #e2e2e2;
    font-size: 1.2em;
    line-height: 1.6;
  }
  
  .container {
    width: 100%;
    max-width: 100em;
    margin-right: auto;
    margin-left: auto;
    padding: 5em 6em;
  }
  
  .container.is-hero {
    position: relative;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    z-index: 3;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    text-align: center;
  }
  
  .style_item {
    padding: 2em 0em;
    border-bottom: 0.1em solid #bdbdbd;
  }
  
  .html {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    overflow: hidden;
    width: 0px;
    height: 0px;
  }
  
  .global-styles {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
  }
  
  .rich-text p {
    margin-top: 0em;
    margin-bottom: 1.6em;
  }
  
  .rich-text h1 {
    margin-top: 0em;
    margin-bottom: 0.2em;
    font-size: 3.28em;
  }
  
  .rich-text h2 {
    margin-top: 0em;
    margin-bottom: 0.2em;
    font-size: 2.5em;
  }
  
  .rich-text h3 {
    margin-top: 0em;
    margin-bottom: 0.3em;
    font-size: 2.19em;
  }
  
  .rich-text h4 {
    margin-top: 0em;
    margin-bottom: 0.4em;
    font-size: 1.88em;
  }
  
  .rich-text h5 {
    margin-top: 0em;
    margin-bottom: 0.6em;
    font-size: 1.67em;
  }
  
  .rich-text h6 {
    margin-top: 0em;
    margin-bottom: 0.7em;
    font-size: 1.46em;
  }
  
  .page-wrapper {
    position: relative;
    width: 100%;
    font-size: 1em;
  }
  
  .h1 {
    font-size: 3.28em;
    line-height: 1.2;
  }
  
  .h2 {
    font-size: 2.5em;
    line-height: 1.2;
  }
  
  .h3 {
    font-size: 2.19em;
    line-height: 1.3;
  }
  
  .h4 {
    font-size: 1.88em;
    line-height: 1.3;
  }
  
  .h5 {
    font-size: 1.67em;
    line-height: 1.3;
  }
  
  .h6 {
    font-size: 1.46em;
  }
  
  .form_input {
    height: 3em;
    margin-bottom: 1em;
    padding: 0em 0.9em;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.2);
    border-radius: 0em;
    font-size: 1.25em;
  }
  
  .display {
    font-size: 4.38em;
    line-height: 1.1;
  }
  
  .form_submit {
    font-size: 1.25em;
  }
  
  ._100vh {
    height: 100vh;
    background-color: #d6d6d6;
  }
  
  .sticky-element {
    position: -webkit-sticky;
    position: sticky;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  
  .track {
    position: relative;
    height: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-transform: translate(0%, 0px);
    -ms-transform: translate(0%, 0px);
    transform: translate(0%, 0px);
  }
  
  .hero-panel_img {
    position: relative;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: 0%;
    width: 100%;
    height: 100%;
    background-image: url("https://assets.website-files.com/62fede6862a7714e740fe117/62fede6862a77186080fe122_photo1.42abc711.webp");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  
  .spacer {
    width: 100vw;
    height: 100vh;
  }
  
  .spacer.is-last {
    margin-right: -100vw;
  }
  
  .thanks-panel {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    height: 100%;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: #fff;
    -webkit-transform: translate(0%, 0px);
    -ms-transform: translate(0%, 0px);
    transform: translate(0%, 0px);
  }
  
  .note-panel_contain {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 25em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  
  .note-panel_img {
    width: 100%;
    margin-bottom: 2em;
  }
  
  .note-panel_img-height {
    position: relative;
    width: 100%;
    padding-top: 100%;
    background-image: url("https://assets.website-files.com/62fede6862a7714e740fe117/62fede6862a771c9920fe125_photo2.ca0d9d58.webp");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .small-img_wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 62em;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .thanks-panel_contain {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .thanks-panel_contain.is-2 {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 2;
    background-color: #000;
    color: #fff;
  }
  
  .thanks-panel_text {
    position: absolute;
    font-size: 22em;
    line-height: 0.9;
    font-weight: 400;
    letter-spacing: -0.04em;
    text-transform: uppercase;
  }
  
  .thanks-panel_img {
    position: absolute;
    width: 11em;
  }
  
  .thanks-panel_img.is-1 {
    margin-top: -20.3em;
    margin-left: -46.5em;
    -webkit-transform: rotate(14deg);
    -ms-transform: rotate(14deg);
    transform: rotate(14deg);
  }
  
  .thanks-panel_img.is-2 {
    margin-top: 18.9em;
    margin-left: 4.5em;
    -webkit-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }
  
  .thanks-panel_img.is-3 {
    margin-top: -22.3em;
    margin-left: 59em;
    -webkit-transform: rotate(-7deg);
    -ms-transform: rotate(-7deg);
    transform: rotate(-7deg);
  }
  
  .thanks-panel_img-height {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 120%;
  }
  
  .thanks-panel_photo {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    -o-object-fit: cover;
    object-fit: cover;
  }
  
  .section-height {
    position: relative;
    height: 300vh;
  }
  
  .hero-img_panel {
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 10vw;
    height: 100vh;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .thanks-panel_wrap {
    position: relative;
    z-index: 3;
    width: 200vw;
    height: 100vh;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  
  .hero-panel {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  
  .note-panel {
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 6vw;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  
  .hero_p-wrap {
    width: 26rem;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 1.5rem;
  }
  
  .hero_sub {
    margin-bottom: 0.6em;
    font-size: 2.2em;
    line-height: 1;
    font-weight: 400;
  }
  
  .horizontal_hero {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background-color: #dfdfdf;
  }
  
  .horizontal_wrap {
    position: relative;
    z-index: 1;
    height: 600vw;
  }
  
  .hero_content {
    max-width: 100%;
  }
  
  .wide-panel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    height: 100%;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  
  .photos_panel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 1vw;
    height: 100%;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  
  .photos-panel_img1 {
    width: 40%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  
  .wide-panel_img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  
  .section3 {
    position: relative;
    z-index: 4;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  
  .section3_contain {
    width: 25vw;
    padding: 2.4em;
  }
  
  .section3_heading {
    margin-bottom: 0.5em;
    font-size: 1.1rem;
    line-height: 1.2;
    font-weight: 700;
  }
  
  .section3_img {
    width: 100%;
    margin-top: 1.1rem;
  }
  
  .overflow-hidden {
    position: relative;
    width: 100%;
  }
  
  .track-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    margin-right: -100vw;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  
  .hero-panel_wrap {
    width: 200vw;
  }
  
  .footer {
    width: 100%;
    height: 100vh;
  }
  
  .last-panel_wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 200vw;
    height: 100%;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  
  .stagger-panel {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: 100vw;
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .stagger-panel_img-wrap {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  
  .stagger-panel_img {
    position: absolute;
    width: 20%;
    margin-top: 0%;
    margin-left: 0%;
  }
  
  .stagger-panel_img.is-1 {
    width: 14%;
    margin-top: -35%;
    margin-left: -47%;
  }
  
  .stagger-panel_img.is-2 {
    width: 27%;
    margin-top: 0%;
    margin-left: -8%;
  }
  
  .stagger-panel_img.is-3 {
    width: 20%;
    margin-top: -25%;
    margin-left: 48%;
  }
  
  .stagger-panel_img.is-4 {
    width: 19%;
    margin-top: 23%;
    margin-left: -49%;
  }
  
  .stagger-panel_img.is-5 {
    width: 14%;
    margin-top: -4%;
    margin-left: 22%;
  }
  
  @media screen and (max-width: 991px) {
    body {
      font-size: 1em;
    }
  
    h1 {
      font-size: 11vw;
    }
  
    .container {
      padding-right: 6vw;
      padding-left: 6vw;
    }
  
    .thanks-panel {
      font-size: 1vw;
    }
  
    .note-panel_contain {
      max-width: 80vw;
    }
  
    .thanks-panel_img {
      font-size: 2.6em;
    }
  
    .thanks-panel_img.is-1 {
      margin-top: -20.8em;
      margin-left: -18em;
    }
  
    .thanks-panel_img.is-2 {
      margin-top: 19.9em;
      margin-left: -1.3em;
      -webkit-transform: rotate(-12deg);
      -ms-transform: rotate(-12deg);
      transform: rotate(-12deg);
    }
  
    .thanks-panel_img.is-3 {
      margin-top: -24.9em;
      margin-left: 21.6em;
    }
  
    .hero-panel {
      width: 150vw;
    }
  
    .note-panel {
      padding-right: 9.4em;
      padding-left: 9.4em;
    }
  
    .hero_sub {
      font-size: 5vw;
    }
  
    .horizontal_wrap {
      height: 400vh;
    }
  
    .wide-panel {
      width: 200vw;
    }
  
    .stagger-panel {
      width: 140vw;
    }
  
    .stagger-panel_img-wrap {
      width: 130%;
    }
  }
  
  @media screen and (max-width: 479px) {
    .thanks-panel_text {
      -webkit-transform: rotate(35deg);
      -ms-transform: rotate(35deg);
      transform: rotate(35deg);
      font-size: 29em;
    }
  
    .thanks-panel_img {
      font-size: 3.3em;
    }
  
    .thanks-panel_img.is-1 {
      margin-top: -30.2em;
      margin-left: -4.2em;
    }
  
    .thanks-panel_img.is-2 {
      margin-top: 17.4em;
      margin-left: -6.7em;
    }
  
    .thanks-panel_img.is-3 {
      margin-top: -13.6em;
      margin-left: 15.3em;
    }
  
    .stagger-panel {
      width: 160vw;
    }
  }
  
/* 
  /* Global Styles */
  ::selection {
      background: var(--main-dark);
    color: var(--main-light);
    text-shadow: none;
  }
  img::selection, svg::selection {
      background: transparent;
  }
  

  /* Link color inherits from parent font color  */
  a {
      color: inherit;
  }
  
  /* Disable / enable clicking on an element and its children  */
  .no-click {
      pointer-events: none;
  }
  .can-click {
      pointer-events: auto;
  }
  
  /* Target any element with a certain "word" in the class name  */
  [class*="spacer"] {
      
  } */

 
     

  .tb_button {
    padding:1px;
    cursor:pointer;
    border-right: 1px solid #8b8b8b;
    border-left: 1px solid #FFF;
    border-bottom: 1px solid #fff;
}
 .tb_button.hover {
    border:2px outset #def;
     background-color: #f8f8f8 !important;
}
 .ws_toolbar {
    z-index:100000
}
 .ws_toolbar .ws_tb_btn {
    cursor:pointer;
    border:1px solid #555;
    padding:3px
}
 .tb_highlight{
    background-color:yellow
}
 .tb_hide {
    visibility:hidden
}
 .ws_toolbar img {
    padding:2px;
    margin:0px
}
.page-wrapper {
position: relative;
width: 100%;
font-size: 1em;
}

.hero-panel {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}

 .hero-panel_img {
position: relative;
left: 0%;
top: 0%;
right: auto;
bottom: 0%;
width: 100%;
height: 100%;
background-image: url("https://assets.website-files.com/62fede6862a7714e740fe117/62fede6862a77186080fe122_photo1.42abc711.webp");
background-position: 50% 50%;
background-size: cover;
background-repeat: no-repeat;
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1);
}

.note-panel {
    position: relative;
    z-index: 2;
    display: flex;
    padding-left: 6vw;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}

.note-panel_contain {
    position: relative;
    display: flex;
    width: 25em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-align: start;
    align-items: flex-start;
}

.note-panel_img {
    width: 100%;
    margin-bottom: 2em;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.8rem;
    line-height: 1.4;
}

.thanks-panel_wrap {
    position: relative;
    z-index: 3;
    width: 200vw;
    height: 100vh;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}

.thanks-panel {
    position: relative;
    z-index: 1;
    display: flex;
    width: 100vw;
    height: 100%;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    background-color: #fff;
    transform: translate(0%, 0px);
}

.thanks-panel_contain {
    position: relative;
    z-index: 1;
    display: flex;
    width: 100vw;
    height: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.thanks-panel_text {
    position: absolute;
    font-size: 22em;
    line-height: 0.9;
    font-weight: 400;
    letter-spacing: -0.04em;
    text-transform: uppercase;
}

.thanks-panel_img is-1 {

}
div {
    display: block;
}

.global-styles {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
}

.sticky-element {   
    position: sticky;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    z-index: 2;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    align-items: stretch;
}

.track {
    position: relative;
    height: 100%;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}

.track-flex {
    display: flex;
    height: 100%;
    margin-right: -100vw;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch ;
    align-items: start;
}